{% extends 'main.html' %}
{% block body %}
{% include 'projects/horizontal-timeline.html' %}
<h1 style="text-align: center;">{{ title }}</h1>
<div>Select <span class="text-highlight">phases</span> you want to add into <span class="text-highlight">project</span> <b>{{ project.name }}</b>.
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ all_phases.management_form }}
        <table id="select-phase">
            <thead>
                <th><input type="checkbox" name="phase-all" id="phase-all" checked />&nbsp;Select</th>
                <th>Phase Name</th>
                <th><i class="fas fa-trash-alt"></i> Delete</th>
            </thead>
            <tbody>
                {% for phase in all_phases %}
                {% for hidden in phase.hidden_fields %}
                {{ hidden }}
                {{ phase.id }}
                {% endfor %}
                <tr>
                    <td class="phase-selected">{{ phase.selected }}</td>
                    <td>{{ phase.phase_name }}</td>
                    <td class="phase-delete">{{ phase.DELETE }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="save-phase-settings" id="save-phase-settings" value="Save Phase Settings">
    </form>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" name="add-phase-to-project" id="add-phase-to-project" value="Add Phase to {{ project.name }}">
    </form>
    {% endblock body %}
    {% block script %}
    <script>
        jQuery(function ($) {
            $('#select-phase input[placeholder="Add new phase"]').focus();
            $('#phase-all').prop('checked', false);
            $('#phase-all').click(function () {
                var $all_box = $('#select-phase').find('tr:not(:last-child) .phase-selected input[type=checkbox]');
                var isChecked = $(this).prop('checked');
                if (isChecked) {
                    $all_box.prop('checked', true);
                }
                else {
                    $all_box.prop('checked', false);
                }
            });
            $('.messages .success').delay(2000).fadeOut(500);
        });
    </script>
    {% endblock script %}