{% extends 'main.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<h1 style="text-align: center;">{{ title }}</h1>
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if 'safe' in message.tags %} {{ message|safe }}
            {% else %} {{ message }} {% endif %}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if project_per_add == True %}
    <a href="{% url 'project_create' %}">Add New Project</a>
    {% endif %}
    {% if projects %}
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Date Created</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Phase Order</th>
            <th>Date Finished</th>
            <th>Progress</th>
            <th>Customers</th>
            <th>Project Manager</th>
            {% if project_per_change == True or project_per_delete == True %}
            <th colspan="2">Permission</th>
            {% endif %}
        </thead>
        <tbody>
            {% for item in projects %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.priority }}</td>
                <td>{{ item.date_created }}</td>
                <td>{{ item.start_date|date:"d-m-Y" }}</td>
                <td>{{ item.due_date|date:"d-m-Y" }}</td>
                <td>{{ item.phase_order }}</td>
                <td>{{ item.date_finished|date:"d-m-Y" }}</td>
                <td>{{ item.progress }}</td>
                <td>{{ item.customer }}</td>
                <td>{{ item.project_manager }}</td>
                {% if project_per_change == True %}
                <td>
                    <a href="{% url 'project_update' item.id %}">Update</a>
                </td>
                {% endif %}
                {% if project_per_delete == True %}
                <td>
                    <a href="{% url 'project_delete' item.id %}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>
        <p>This content isn't available at the moment</p>
        <p>When this happens, it's usually because the owner only shared it with a small group of people or changed who
            can see it,
            or it's been deleted.</p>
    </div>
    {% endif %}
</div>
<div>
    <div class="tree well">
        <ul>
            {% for project in projects %}
            <li>
                <span><i class="fas fa-clipboard-list"></i> {{ project }} </span> <a
                    href="{% url 'project_update' project.id %}">Edit Project</a>
                <ul>
                    {% for phase in phases %}
                    {% if phase.project == project %}
                    <li>
                        <span><i class="fas fa-list-alt"></i> {{ phase }}</span> <a
                            href="{% url 'phase_edit' project.id %}">Edit Phase</a>
                        <ul>
                            {% for task in tasks %}
                            {% if task.phase == phase %}
                            <li>
                                <span><i class="fas fa-tasks"></i> {{ task }}</span> <a
                                    href="{% url 'task_edits' project.id phase.id task.id %}">Edit Task</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}
{% block script %}
<script>
    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').removeClass('fas fa-list-alt').addClass('far fa-list-alt');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').removeClass('far fa-list-alt').addClass('fas fa-list-alt');
            }
            e.stopPropagation();
        });
    });
</script>
{% endblock script %}