{% extends 'main.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<h1 style="text-align: center;">{{ title }}</h1>
<a href="{% url 'customers' %}"><input type="button" value="Back"></a>
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ create_form }}
        </table>
        <input type="submit" value="Add New Customer">
    </form>
</div>
{% endblock body %}