{% extends 'main.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<h1 style="text-align: center;">{{ title }}</h1>
<div>
    <a href="{% url 'register' %}">Add User</a>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div>
        <table>
            <thead>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Customer</th>
                <th>Permission</th>
                <th>User Group</th>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_customer }}</td>
                    {% if user.is_superuser %}
                    <td>super admin</td>
                    {% elif user.is_staff %}
                    <td>admin</td>
                    {% else %}
                    <td>user</td>
                    {% endif %}
                    <td>
                        {% for group in user.user_group.all %}
                            <div>{{ group }} </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}